.checkoutProduct {
	display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;

}

.checkoutProductInfo {
    padding-left: 20px;
    width: 70%;
}

.checkoutProductInfo > button {
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProductImg {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.productRating {
    display: flex;
}

.checkoutProductTitle {
    font-size: 17px;
    font-weight: 800;
}