<div class="login">
    <a routerLink="/">
        <div class="loginLogo">
            <mat-icon class="loginLogoImage" aria-hidden="false" aria-label="Login icon" fontIcon="storefront"></mat-icon>
            <h2 class="loginLogoTitle">eSHOP</h2>
        </div>
    </a>
    <div class="loginContainer">
        <h1>Sign-in</h1>

        <form>
            <label>
                <span>E-mail</span>
                <input type="text" name="email"/>
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password" />
            </label>
            <button class="loginSignInBtn">Sing In</button>
        </form>
        <p>
            By signing in you agree to the eShop Website Conditions of Use & Sale.
        </p>
        <button class="loginRegisterBtn" >Create your eShop Account</button>
    </div>
</div>